.navbar {
  background-color: rgb(41, 69, 230) !important;
}
table {
  width: 100%;
  margin: 2rem;
}
body {
  background-image: url('../images/clinic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 25px;
}
tr,form {
  background-color: #24C3B3;
}
form {
  padding: 2rem;
  margin: 2rem 0 2rem 0;
}