.navbar {
  background-color: rgb(41, 69, 230) !important;
}
table {
  width: 100%;
  margin: 2rem;
}
body {
  background-image: url('../images/back-clinic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
tr,form {
  background-color: #65CBF1;
}
form {
  padding: 2rem;
  margin: 2rem 0 2rem 0;
}
.nav-link {
  color: white !important;
}
#home {
  width: 100%;
  height: auto;
}
