{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        {% if appointments %}
        {% for appointment in appointments %}
        <div class="">
          <h2> {{appointment.first_name}} {{appointment.second_name}}</h2>
          <p>Telephone No: {{appointment.phone}}</p>
          <p>Gender: {{appointment.gender}}</p>
          <p>Appointment Date: {{appointment.appointment_date}}</p>
          <div class="">
            <a href="{% url 'update_appointment' appointment.id %}" class="btn btn-success">Update</a>
            <a href="{% url 'delete_appointment' appointment.id %}" class="btn  btn-danger">Delete</a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}