{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-bordered">
          <tr>
            <th>First Name</th>
            <td>{{appointment.first_name}}</td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>{{appointment.last_name}}</td>
          </tr>
          <tr>
            <th>Gender</th>
            <td>{{appointment.gender}}</td>
          </tr>
          <tr>
            <th>Age</th>
            <td>{{appointment.age}}</td>
          </tr>
          <tr>
            <th>Phone No</th>
            <td>{{appointment.phone}}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{appointment.approve }}
            </td>
          </tr>
          <tr>
            <th>Appointment Date</th>
            <td>{{appointment.appointment_date|date}}</td>
          </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}