{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table>
          <tr>
            <th>Drug</th>
            <td>{{drug.name}}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{drug.description}}</td>
          </tr>
          <tr>
            <th>Date Captured</th>
            <td>{{drug.date|date}}</td>
          </tr>
        </table>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}