{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        {% if feedbacks %}
        {% for feedback in feedbacks %}
        <div class="">
          <h2> {{feedback.patient.first_name}} {{feedback.patient.second_name}}</h2>
          <p>{{feedback.feedback_message}}</p>
          <p>Date: {{feedback.feedback_date}}</p>
          <div class="">
            <a href="{% url 'update_feedback' feedback.id %}" class="btn btn-success">Update</a>
            <a href="{% url 'delete_feedback' feedback.id %}" class="btn  btn-danger">Delete</a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}