{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h5 class="text-center">PATIENTS HEALTH HISTORY</h5>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <a class="nav-item nav-link text-center"  href="{% url 'add_health_history' %}"><button class="btn btn-primary">Add Health History</button></a>
        </div>
        <div class="col-md-3">
          <a class="nav-item nav-link text-center"  href="{% url 'export_history' %}"><button class="btn btn-primary">Export Report</button></a>
        </div>
        <div class="col-md-3"></div>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>First Name</th>
          <th>Second Name</th>
          <th>Date recorded</th>
          <th>Edit</th>
          <th>View</th>
          <th>Delete</th>
        </tr>
        {% if histories %}
        {% for history in histories %}
        <tr>
          <td>{{history.patient.first_name}}</td>
          <td>{{history.patient.last_name}}</td>
          <td>{{history.date_recorded|date}}</td>
          <td><a href="{% url 'update_history' history.id %}" class="btn btn-primary"><i class="fas fa-pen-nib"></i> Update</a></td>
          <td><a href="{% url 'history_details' history.id %}" class="btn btn-success"><i class="fas fa-eye"></i> View</a></td>
          <td><a href="{% url 'delete_history' history.id %}" class="btn  btn-danger"><i class="fas fa-trash-alt"></i> Delete</a></td>
        </tr>
        {% endfor %}
        {% endif %}
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}