{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table>
          <tr>
            <th>First Name</th>
            <td>{{history.patient.first_name}}</td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>{{history.patient.last_name}}</td>
          </tr>
          <tr>
            <th>Health History</th>
            <td>{{history.health_record}}</td>
          </tr>
          <tr>
            <th>Date recorded</th>
            <td>{{history.date_recorded|date}}</td>
          </tr>
        </table>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}