{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1>Meds</h1>
      {% if user.is_authenticated %}
      <a class="nav-item nav-link"  href="{% url 'add_patient' %}"><button class="btn btn-primary">Add patient</button></a>
      <a class="nav-item nav-link"  href="{% url 'add_appointment' %}"><button class="btn btn-primary">Add Appointment</button></a>
      <a class="nav-item nav-link"  href="{% url 'add_prescription' %}"><button class="btn btn-primary">Add Prescription</button></a>
      <a class="nav-item nav-link"  href="{% url 'add_drug' %}"><button class="btn btn-primary">Add Drug</button></a>
      <a class="nav-item nav-link"  href="{% url 'add_health_history' %}"><button class="btn btn-primary">Add Health History</button></a>
      <a class="nav-item nav-link"  href="{% url 'add_feedback' %}"><button class="btn btn-primary">Add Feedback</button></a>
      <a class="nav-item nav-link"  href="{% url 'add_visit' %}"><button class="btn btn-primary">Add Visit</button></a>

      {% endif %}
    </div>
      <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}