<nav class="navbar navbar-dark bg-dark">
  <a href="{% url 'home' %}" class="navbar-brand">MEDS</a>
  <a href="{% url 'visits' %}" class="navbar-brand">VISITS</a>
  <a href="{% url 'home' %}" class="navbar-brand">PATIENTS</a>
  <a href="{% url 'home' %}" class="navbar-brand">APPOINTMENTS</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarCollapse">

      {% if user.is_authenticated %}

      <a class="nav-item nav-link" href="/logout">Logout</a>

      {% else %}

      <a class="nav-item nav-link"  href="{% url 'login' %}">Login</a>

      {% endif %}
  </div>
</nav>