{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-bordered">
          <tr>
            <th>First Name</th>
            <td>{{visit.patient.first_name}}</td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>{{visit.patient.last_name}}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{visit.note}}</td>
          </tr>
          <tr>
            <th>Date</th>
            <td>{{visit.date_visited|date}}</td>
          </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}